doctype html    
html(lang="en")
    head
        title Landing page
    body
        h1 Hello There!
        p Disrupt bicycle rights pour-over, fanny pack Shoreditch Williamsburg food truck cornhole locavore fap skateboard art party master cleanse tofu. YOLO pop-up tousled Shoreditch, Brooklyn twee street art Tumblr retro artisan mustache put a bird on it butcher. Butcher direct trade migas, disrupt asymmetrical cold-pressed scenester wayfarers selfies gentrify Wes Anderson meditation Thundercats hashtag. Kickstarter Odd Future dreamcatcher swag, kale chips 90's organic Thundercats freegan shabby chic banjo flexitarian. Kogi 3 wolf moon bitters blog, disrupt Godard authentic freegan Tumblr photo booth wolf cray single-origin coffee. Biodiesel slow-carb craft beer Pitchfork asymmetrical, narwhal High Life gentrify. Photo booth listicle Brooklyn, leggings synth Austin vegan Blue Bottle sustainable food truck ethical meggings Thundercats chillwave.
